.card {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    width: 200px;
    border: 1px solid #6c6969;
    border-radius: 11px;
    padding: 16px;
    background-color: #110f0f29;
    box-shadow: 0 0 8px 10px rgba(38, 42, 156, 0.2);
    box-sizing: border-box;
    width: 15rem;
}

.heading {
    opacity: 0.45;
}

.head {
    opacity: 0.65;
}

.card-title {
    opacity: 0.65;
}
.card-text {
    opacity: 0.75;
}
.para{
    opacity: 0.65;
}